# 2022年NCT成员Instagram数据报告

Instagram是海外最大的社交平台之一，其点赞/评论数据经常作为艺人商业价值的重要参考指标。

今天我们就来分析一下NCT成员的Instagram数据。

## 工具准备
抓取Instagram数据的工具网上有很多，我选取了一个名为`instaloader`的包。

In [ ]:
# 安装instaloader
!pip3 install instaloader

Collecting instaloader
  Downloading instaloader-4.9.tar.gz (59 kB)
     |████████████████████████████████| 59 kB 3.3 MB/s
Requirement already satisfied: requests>=2.4 in /usr/local/lib/python3.7/dist-packages (from instaloader) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.4->instaloader) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.4->instaloader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.4->instaloader) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.4->instaloader) (2.10)
Building wheels for collected packages: instaloader
  Building wheel for instaloader (setup.py) ... done
  Created wheel for instaloader: filename=instaloader-4.9-py3-none-any.whl size=61065 sha256=ad1fceedf64b744392d95e51dca87dcb1fc61a18d8e5965e0904a73b0e0c2891
  Stored in directory: /root/.cache/pip/wheels/85/fb/29/7d540da52b65c8d4718cbb0e24a057d2c0071174716391bd85
Successfully built instaloader
Installing collected packages: instaloader
Successfully installed instaloader-4.9

除了`instaloader`之外，我们也需要载入一些其他的包，这些包的用处我们在后面会提到。

In [ ]:
import instaloader
import pandas as pd
import time

下面这段代码是我在网上找到的，主要功能包括爬取指定账户的关注、粉丝、发文等等。

其中`get_user_info`是我们重点关注的，我们后面会用它来获取各位艺人的信息。

In [43]:
from datetime import datetime
from itertools import dropwhile, takewhile
import csv

class GetInstagramProfile():
    def __init__(self) -> None:
        self.L = instaloader.Instaloader()
        self.L.login(input("你的Instagram ID："), input("你的Instagram密码："))

    def download_users_profile_picture(self,username):
        self.L.download_profile(username, profile_pic_only=True)

    def download_users_posts_with_periods(self,username):
        posts = instaloader.Profile.from_username(self.L.context, username).get_posts()
        SINCE = datetime(2021, 8, 28)
        UNTIL = datetime(2021, 9, 30)

        for post in takewhile(lambda p: p.date > SINCE, dropwhile(lambda p: p.date > UNTIL, posts)):
            self.L.download_post(post, username)

    def download_hastag_posts(self, hashtag):
        for post in instaloader.Hashtag.from_name(self.L.context, hashtag).get_posts():
            self.L.download_post(post, target='#'+hashtag)

    def get_user_info(self, user_name):
        return instaloader.Profile.from_username(self.L.context, user_name)
        
    def get_users_followers(self,user_name):
        profile = instaloader.Profile.from_username(self.L.context, user_name)
        for followee in profile.get_followers():
            username = followee.username
            print(username)

    def get_users_followings(self,user_name):
        profile = instaloader.Profile.from_username(self.L.context, user_name)
        for followee in profile.get_followees():
            username = followee.username
            print(username)

    def get_post_comments(self,username):
        posts = instaloader.Profile.from_username(self.L.context, username).get_posts()
        for post in posts:
            for comment in post.get_comments():
                print("comment.id  : "+str(comment.id))
                print("comment.owner.username  : "+comment.owner.username)
                print("comment.text  : "+comment.text)
                print("comment.created_at_utc  : "+str(comment.created_at_utc))
                print("************************************************")

    def get_post_info_csv(self,username):
        with open(username+'.csv', 'w', newline='', encoding='utf-8') as file:
            writer = csv.writer(file)
            posts = instaloader.Profile.from_username(self.L.context, username).get_posts()
            for post in posts:
                print("post date: "+str(post.date))
                print("post profile: "+post.profile)
                print("post caption: "+post.caption)
                print("post location: "+str(post.location))
                
                posturl = "https://www.instagram.com/p/"+post.shortcode
                print("post url: "+posturl)
                writer.writerow(["post",post.mediaid, post.profile, post.caption, post.date, post.location, posturl,  post.typename, post.mediacount, post.caption_hashtags, post.caption_mentions, post.tagged_users, post.likes, post.comments,  post.title,  post.url ])
            
                for comment in post.get_comments():
                    writer.writerow(["comment",comment.id, comment.owner.username,comment.text,comment.created_at_utc])
                    print("comment username: "+comment.owner.username)
                    print("comment text: "+comment.text)
                    print("comment date : "+str(comment.created_at_utc))
                print("\n\n")

## 创建爬虫并获取信息
现在我们就来创建一个爬虫。点击执行下面这行代码之后，系统会让你输入你的Instagram账号及密码。

In [44]:
loader = GetInstagramProfile()

截止我写这篇小作文的时候（北京时间5月21日），NCT的23名成员中有19位开通了Instagram，他们在Instagram上的id分别是：

In [ ]:
nct_member_instagram_ids = {
    'lucas_xx444',
    'wwiinn_7',
    'yangyang_x2',
    'i_m_hendery',
    'djxiao_888',
    'kun11xd',
    'tenlee_1001',
    'sugaringcandy',
    'haechanahceah',
    'mo.on_air',
    'yellow_3to3',
    '_shotaroo_',
    'taeoxo_nct',
    'onyourm__ark',
    'do0_nct',
    'na.jaemin0813',
    'yuu_taa_1026',
    '_jeongjaehyun',
    'johnnyjsuh'
}
len(nct_member_instagram_ids)

19

然后我们来获取他们每个人的信息，并且存储在一个名为`profiles`的`dict`中。

In [ ]:
profiles = {id: loader.get_user_info(id) for id in nct_member_instagram_ids}
profiles

{'_jeongjaehyun': <Profile _jeongjaehyun (30819697525)>,
 '_shotaroo_': <Profile _shotaroo_ (47383683179)>,
 'djxiao_888': <Profile djxiao_888 (26884960585)>,
 'do0_nct': <Profile do0_nct (43802283829)>,
 'haechanahceah': <Profile haechanahceah (52136302807)>,
 'i_m_hendery': <Profile i_m_hendery (29833349541)>,
 'johnnyjsuh': <Profile johnnyjsuh (30836608367)>,
 'kun11xd': <Profile kun11xd (26471022476)>,
 'lucas_xx444': <Profile lucas_xx444 (21465052749)>,
 'mo.on_air': <Profile mo.on_air (48418985942)>,
 'na.jaemin0813': <Profile na.jaemin0813 (31025529530)>,
 'onyourm__ark': <Profile onyourm__ark (45321619558)>,
 'sugaringcandy': <Profile sugaringcandy (52651073589)>,
 'taeoxo_nct': <Profile taeoxo_nct (45766699924)>,
 'tenlee_1001': <Profile tenlee_1001 (21680090333)>,
 'wwiinn_7': <Profile wwiinn_7 (38738692372)>,
 'yangyang_x2': <Profile yangyang_x2 (32337725717)>,
 'yellow_3to3': <Profile yellow_3to3 (48210345716)>,
 'yuu_taa_1026': <Profile yuu_taa_1026 (30670957326)>}

在这里我们只想分析划人们2022年之后的发贴数据，所以我写了一个函数，筛选出他们2022年以来的发贴，并且返回每个贴子的发贴时间、点赞数以及评论数。

In [ ]:
def get_data_later_than_2022(uid):
  res = []
  posts = profiles[uid].get_posts() ## 获取所有发贴
  for post in posts:
    date = post.date
    if date > datetime(2021, 12, 31): ## 筛选出2021年12月31日之后的贴
      ## 将发贴人、发贴日期、点赞数和评论数存储下来
      res.append((uid, date, post.likes, post.get_comments().count))
    else:
      return res
  return res

下面我们就可以来爬取2022年划人的所有发贴了，这一步耗时较长。

In [ ]:
data_dict = {}
for uid in nct_member_instagram_ids:
  print("Processing", uid, "...")
  data_dict[uid] = get_data_later_than_2022(uid)
  time.sleep(5)  ## 爬虫操作过于频繁的话会被系统监测到
  ## 因此，每获取一个划人的发贴信息，我们让程序休息五秒钟

print("Done!")

Processing onyourm__ark ...
Processing sugaringcandy ...
Processing tenlee_1001 ...
Processing wwiinn_7 ...
Processing i_m_hendery ...
Processing johnnyjsuh ...
Processing _jeongjaehyun ...
Processing djxiao_888 ...
Processing yangyang_x2 ...
Processing do0_nct ...
Processing _shotaroo_ ...
Processing mo.on_air ...
Processing yellow_3to3 ...
Processing kun11xd ...
Processing na.jaemin0813 ...
Processing yuu_taa_1026 ...
Processing lucas_xx444 ...
Processing haechanahceah ...
Processing taeoxo_nct ...
Done!

现在我们获得了一个名为`data_dict`的`dict`，其中包含了19位成员2022年以来的发贴信息

## 处理数据

### 单人数据分析
在这里我们创建一个空的`list`，用于保存各位划人的平均点赞和平均评论数。

In [ ]:
avg = []

#### Yuta

In [ ]:
id = 'yuu_taa_1026'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 1341344.8 Comments: 12543.466666666667

         User ID        Publish Date    Likes  Comments
0   yuu_taa_1026 2022-05-14 14:23:47  1207893     10650
1   yuu_taa_1026 2022-05-09 03:18:49  1586188     14020
2   yuu_taa_1026 2022-04-21 01:29:02  1465000     41593
3   yuu_taa_1026 2022-04-07 13:16:48   755008      4120
4   yuu_taa_1026 2022-03-28 16:31:25  1268805      7101
5   yuu_taa_1026 2022-03-28 05:34:40  1819436     18210
6   yuu_taa_1026 2022-03-26 14:04:08  1520531     10918
7   yuu_taa_1026 2022-03-24 06:21:30  1515681     14924
8   yuu_taa_1026 2022-02-26 03:08:43   911458      6636
9   yuu_taa_1026 2022-02-26 03:08:01  1016805      5889
10  yuu_taa_1026 2022-02-26 03:07:09  1192164      6059
11  yuu_taa_1026 2022-02-26 03:06:16  1708642     15560
12  yuu_taa_1026 2022-02-26 03:05:06  1499121     13426
13  yuu_taa_1026 2022-02-26 03:04:01  1133780      7918
14  yuu_taa_1026 2022-02-25 04:33:06  1519660     11128

#### Renjun

In [ ]:
id = 'yellow_3to3'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 1951307.5714285714 Comments: 38836.357142857145

        User ID        Publish Date    Likes  Comments
0   yellow_3to3 2022-05-20 07:20:46  1774194     19910
1   yellow_3to3 2022-05-14 16:44:26  2159761     47677
2   yellow_3to3 2022-04-02 15:20:08  1377805     15342
3   yellow_3to3 2022-04-02 15:19:29  1200223      9452
4   yellow_3to3 2022-04-02 15:18:52  1705026     19707
5   yellow_3to3 2022-03-31 10:35:59  2042448     30812
6   yellow_3to3 2022-03-28 06:48:25  2293252     46701
7   yellow_3to3 2022-03-28 04:52:11  1930269     21492
8   yellow_3to3 2022-03-27 09:15:17  1972935     26013
9   yellow_3to3 2022-03-26 04:59:29  2188309     47049
10  yellow_3to3 2022-03-18 04:15:46  2321059     50980
11  yellow_3to3 2022-03-14 11:19:35  2183001     60659
12  yellow_3to3 2022-01-15 13:03:45  2279576    104785
13  yellow_3to3 2022-01-13 13:16:31  1890448     43130

#### Yangyang

In [ ]:
id = 'yangyang_x2'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 1053591.8 Comments: 8616.55

        User ID        Publish Date    Likes  Comments
0   yangyang_x2 2022-05-19 06:59:41   752298      4308
1   yangyang_x2 2022-05-16 09:36:08   897234      6029
2   yangyang_x2 2022-05-15 05:04:22   771347      3771
3   yangyang_x2 2022-05-14 01:03:09  1013937      9392
4   yangyang_x2 2022-05-05 07:56:36  1288112     17054
5   yangyang_x2 2022-04-20 02:40:58  1190005      9308
6   yangyang_x2 2022-04-11 13:15:36  1062995      8876
7   yangyang_x2 2022-03-15 06:44:52  1153544      8181
8   yangyang_x2 2022-03-07 14:29:20  1118448      8151
9   yangyang_x2 2022-02-22 08:05:52  1105928      8830
10  yangyang_x2 2022-02-21 12:47:25  1096092      9189
11  yangyang_x2 2022-02-14 08:52:41  1193174     11969
12  yangyang_x2 2022-02-09 07:53:59  1380948     10613
13  yangyang_x2 2022-02-02 04:18:24  1061245      8858
14  yangyang_x2 2022-01-25 05:01:02   869422      6787
15  yangyang_x2 2022-01-18 13:10:55  1036904      7255
16  yangyang_x2 2022-01-15 04:19:11   959439      4868
17  yangyang_x2 2022-01-14 02:39:12  1241877     13221
18  yangyang_x2 2022-01-01 06:37:18   995657      7255
19  yangyang_x2 2021-12-31 13:29:22   883230      8416

#### Winwin

In [ ]:
id = 'wwiinn_7'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 1448837.12 Comments: 13114.08

     User ID        Publish Date    Likes  Comments
0   wwiinn_7 2022-05-18 17:07:45  1171346     10410
1   wwiinn_7 2022-05-18 17:01:55  1391265     13699
2   wwiinn_7 2022-05-16 11:49:29  1488600     17302
3   wwiinn_7 2022-05-09 04:04:37  1000468      4180
4   wwiinn_7 2022-05-01 18:04:26  1243204      7071
5   wwiinn_7 2022-04-25 09:27:23  1424815      8788
6   wwiinn_7 2022-04-21 08:13:24  1111908      5301
7   wwiinn_7 2022-04-11 10:45:57  1380826     10981
8   wwiinn_7 2022-04-08 06:58:59  1578412     15260
9   wwiinn_7 2022-03-06 13:50:18  1506703     13335
10  wwiinn_7 2022-03-03 10:13:46  1187293      9032
11  wwiinn_7 2022-03-03 10:12:50  1572003     12973
12  wwiinn_7 2022-02-14 11:35:28  1660249     27880
13  wwiinn_7 2022-01-31 13:16:59  1480087     12565
14  wwiinn_7 2022-01-30 10:00:02  1375482     12217
15  wwiinn_7 2022-01-28 12:04:51  1450413     12929
16  wwiinn_7 2022-01-26 05:07:27  1498293     13703
17  wwiinn_7 2022-01-25 06:44:14  1496588     14720
18  wwiinn_7 2022-01-20 11:55:22  1862726     21538
19  wwiinn_7 2022-01-18 03:03:28  1375877      9631
20  wwiinn_7 2022-01-12 09:35:17  1381003      9074
21  wwiinn_7 2022-01-12 09:33:52  1753349     15812
22  wwiinn_7 2022-01-07 08:56:04  1406447     10968
23  wwiinn_7 2022-01-07 08:55:48  1795756     19968
24  wwiinn_7 2022-01-06 06:13:49  1627815     18515

#### Ten

In [ ]:
id = 'tenlee_1001'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 1332710.4838709678 Comments: 15059.967741935483

        User ID        Publish Date    Likes  Comments
0   tenlee_1001 2022-05-18 04:42:58   605349      3565
1   tenlee_1001 2022-05-05 07:48:56  1743406     22275
2   tenlee_1001 2022-05-01 14:50:19   893573     16680
3   tenlee_1001 2022-04-24 09:22:06   773247     10457
4   tenlee_1001 2022-04-23 14:17:03   593958     10458
5   tenlee_1001 2022-04-23 13:37:04   970580      8546
6   tenlee_1001 2022-04-22 08:24:32  1441476     16410
7   tenlee_1001 2022-04-20 09:17:19   655934      5219
8   tenlee_1001 2022-04-16 09:46:11  1632260     20297
9   tenlee_1001 2022-04-14 14:26:51   848562      5333
10  tenlee_1001 2022-04-03 10:37:27  1893438     20620
11  tenlee_1001 2022-04-02 08:43:45   861689      7971
12  tenlee_1001 2022-04-02 08:33:01  1259233     11352
13  tenlee_1001 2022-03-30 15:48:16  1285929     12294
14  tenlee_1001 2022-03-29 08:10:48  1104490     10976
15  tenlee_1001 2022-03-28 12:45:55  2384460     25285
16  tenlee_1001 2022-03-26 18:11:43  1313105      6605
17  tenlee_1001 2022-03-12 15:22:22  1379809     14776
18  tenlee_1001 2022-03-11 12:32:10  1359226     15608
19  tenlee_1001 2022-03-06 05:37:19  1403781     14119
20  tenlee_1001 2022-03-05 12:54:20  1699654     18564
21  tenlee_1001 2022-03-02 13:04:23  1472990     13340
22  tenlee_1001 2022-03-01 07:03:26  1814167     21127
23  tenlee_1001 2022-02-16 14:50:06  1780578     35523
24  tenlee_1001 2022-01-29 13:00:18  1400768     20375
25  tenlee_1001 2022-01-21 13:21:49  1268028     10536
26  tenlee_1001 2022-01-20 13:45:44  1297897     15565
27  tenlee_1001 2022-01-16 19:12:01  1237271     11163
28  tenlee_1001 2022-01-16 15:13:43  1954553     22233
29  tenlee_1001 2022-01-07 09:59:41  1176785     12695
30  tenlee_1001 2021-12-31 15:48:11  1807829     26892

#### Taeyong

In [ ]:
id = 'taeoxo_nct'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 1778088.1612903227 Comments: 18326.709677419356

       User ID        Publish Date    Likes  Comments
0   taeoxo_nct 2022-05-15 06:47:50  1550191     11650
1   taeoxo_nct 2022-05-12 09:21:15  1351086     13919
2   taeoxo_nct 2022-05-05 14:19:52  1987923     25828
3   taeoxo_nct 2022-05-05 08:56:39  2006071     22118
4   taeoxo_nct 2022-04-30 09:16:07  1685918     11066
5   taeoxo_nct 2022-04-27 12:35:39  1438306     11458
6   taeoxo_nct 2022-04-14 09:31:48  1762496     17042
7   taeoxo_nct 2022-04-12 11:41:55  1435202     11647
8   taeoxo_nct 2022-04-10 10:22:04  1690677     11095
9   taeoxo_nct 2022-04-09 12:38:38  1795288     10819
10  taeoxo_nct 2022-04-04 09:44:41  2156277     20624
11  taeoxo_nct 2022-03-28 00:00:56  2115584     36715
12  taeoxo_nct 2022-03-24 09:38:48  1776242     11289
13  taeoxo_nct 2022-03-23 13:22:09  1664388     10230
14  taeoxo_nct 2022-03-21 08:06:01  1717885     10955
15  taeoxo_nct 2022-03-16 06:26:52  1756987     12059
16  taeoxo_nct 2022-03-16 03:18:06  1893916     14628
17  taeoxo_nct 2022-03-15 09:00:17  1446224     15574
18  taeoxo_nct 2022-03-09 22:37:39  1884829     15367
19  taeoxo_nct 2022-03-07 09:57:13  1940153     24731
20  taeoxo_nct 2022-02-25 03:18:05  1645280     19041
21  taeoxo_nct 2022-02-23 02:11:39  1803207     14696
22  taeoxo_nct 2022-02-14 13:07:02  1969923     22337
23  taeoxo_nct 2022-02-13 03:49:45  2296860     33629
24  taeoxo_nct 2022-01-25 10:12:17  1775136     17647
25  taeoxo_nct 2022-01-25 01:11:36  2234048     36534
26  taeoxo_nct 2022-01-23 04:35:12  1663691     16641
27  taeoxo_nct 2022-01-19 14:36:41  1965034     25158
28  taeoxo_nct 2022-01-17 08:18:10  1728566     21856
29  taeoxo_nct 2022-01-09 02:22:26  1528957     13569
30  taeoxo_nct 2022-01-02 05:54:00  1454388     28206

#### Jungwoo

In [ ]:
id = 'sugaringcandy'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 1464492.8 Comments: 41361.6

         User ID        Publish Date    Likes  Comments
0  sugaringcandy 2022-05-12 15:08:28  1401675     25807
1  sugaringcandy 2022-05-07 08:05:35  1325807     18251
2  sugaringcandy 2022-04-11 07:58:17  1334018     12603
3  sugaringcandy 2022-04-02 08:15:32  1499917     41349
4  sugaringcandy 2022-04-01 05:19:06  1761047    108798

#### Mark

In [ ]:
id = 'onyourm__ark'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 2080521.1851851852 Comments: 33040.07407407407

         User ID        Publish Date    Likes  Comments
0   onyourm__ark 2022-05-16 08:12:49  1444516     22979
1   onyourm__ark 2022-05-13 10:50:57  1368323     16475
2   onyourm__ark 2022-05-06 07:45:28  2275322     29616
3   onyourm__ark 2022-05-04 13:11:07  2162367     30532
4   onyourm__ark 2022-04-21 13:18:29  1415125     25120
5   onyourm__ark 2022-04-18 07:51:06  2037518     23994
6   onyourm__ark 2022-04-17 10:54:38  1985435     24703
7   onyourm__ark 2022-04-11 08:59:47  2317963     25555
8   onyourm__ark 2022-04-06 01:25:44  2113300     21006
9   onyourm__ark 2022-04-03 11:33:10  2140415     28623
10  onyourm__ark 2022-03-30 09:22:40  1452548     17199
11  onyourm__ark 2022-03-25 09:30:41  2098718     31118
12  onyourm__ark 2022-03-25 09:30:09  2189899     22961
13  onyourm__ark 2022-03-22 04:14:17  2555682     48852
14  onyourm__ark 2022-03-19 08:05:13  1557048     25507
15  onyourm__ark 2022-03-16 04:08:45  2162991     32346
16  onyourm__ark 2022-03-11 10:26:35  2093108     53637
17  onyourm__ark 2022-03-10 09:49:02  1541682     19914
18  onyourm__ark 2022-02-14 04:33:28  2569537     51224
19  onyourm__ark 2022-02-12 06:16:34  2291254     27727
20  onyourm__ark 2022-02-07 11:53:28  2577512     46794
21  onyourm__ark 2022-02-06 07:02:17  2104722     29819
22  onyourm__ark 2022-02-03 15:13:42  2137402     32560
23  onyourm__ark 2022-01-31 03:04:38  2253706     37305
24  onyourm__ark 2022-01-26 12:48:19  2264442     34474
25  onyourm__ark 2022-01-19 08:41:30  2777572     87970
26  onyourm__ark 2022-01-16 07:58:00  2285965     44072

#### Jaemin

In [ ]:
id = 'na.jaemin0813'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 2361902.5 Comments: 41282.92857142857

          User ID        Publish Date    Likes  Comments
0   na.jaemin0813 2022-05-20 07:18:50  2229806     43508
1   na.jaemin0813 2022-05-13 19:48:11  2438952     53529
2   na.jaemin0813 2022-04-18 05:22:05  2297712     39382
3   na.jaemin0813 2022-04-18 05:21:19  2378944     37784
4   na.jaemin0813 2022-04-09 12:52:47  1947185     22973
5   na.jaemin0813 2022-04-09 12:52:31  2338131     30830
6   na.jaemin0813 2022-04-03 08:15:40  2298001     29716
7   na.jaemin0813 2022-04-03 08:15:15  1692676      9247
8   na.jaemin0813 2022-03-28 15:24:20  2713940     34956
9   na.jaemin0813 2022-03-24 07:50:26  2052205     25356
10  na.jaemin0813 2022-03-24 07:49:08  2460835     40112
11  na.jaemin0813 2022-03-17 16:34:01  2551403     48469
12  na.jaemin0813 2022-03-14 15:42:42  3017839    102301
13  na.jaemin0813 2022-01-05 14:35:40  2649006     59798

#### Taeil

In [ ]:
id = 'mo.on_air'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 1337274.2222222222 Comments: 20140.11111111111

     User ID        Publish Date    Likes  Comments
0  mo.on_air 2022-05-14 23:22:34  1121184     15071
1  mo.on_air 2022-04-29 06:30:25  1207469     12262
2  mo.on_air 2022-04-29 06:20:49  1094463     12840
3  mo.on_air 2022-04-10 13:49:21  1209592      8371
4  mo.on_air 2022-03-14 06:44:48  1442628     23110
5  mo.on_air 2022-02-23 23:41:08  1501496     39594
6  mo.on_air 2022-01-29 02:38:21  1536377     20797
7  mo.on_air 2022-01-23 15:54:06  1596773     29686
8  mo.on_air 2022-01-17 15:53:48  1325486     19530

#### Kun

In [ ]:
id = 'kun11xd'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 1012977.4 Comments: 11072.333333333334

    User ID        Publish Date    Likes  Comments
0   kun11xd 2022-05-18 04:31:08   948397     10302
1   kun11xd 2022-04-27 10:12:17  1390779     15903
2   kun11xd 2022-04-11 12:37:38   901497      5192
3   kun11xd 2022-03-19 10:08:08   858300      5286
4   kun11xd 2022-03-14 13:03:11  1038885      7193
5   kun11xd 2022-03-05 10:13:17  1094389      9161
6   kun11xd 2022-02-21 13:14:02  1162219     12490
7   kun11xd 2022-02-19 12:39:50   953606      5585
8   kun11xd 2022-02-15 07:00:49   749690     15917
9   kun11xd 2022-02-14 13:20:53   996009     10651
10  kun11xd 2022-01-26 12:32:39   615118      9261
11  kun11xd 2022-01-18 06:02:49   904731      1867
12  kun11xd 2022-01-16 17:28:27  1190388     11315
13  kun11xd 2022-01-11 09:46:07  1385713     24621
14  kun11xd 2022-01-01 04:46:21  1004940     21341

#### Johnny

In [ ]:
id = 'johnnyjsuh'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 1751860.1739130435 Comments: 20240.17391304348

       User ID        Publish Date    Likes  Comments
0   johnnyjsuh 2022-05-15 03:41:06  1228791      7997
1   johnnyjsuh 2022-05-09 04:06:22  1703541     10358
2   johnnyjsuh 2022-05-05 05:03:10  2169149     20679
3   johnnyjsuh 2022-05-04 15:06:45  1744242     13928
4   johnnyjsuh 2022-05-03 15:45:12  2150711     29152
5   johnnyjsuh 2022-05-02 00:23:46  1784278     11407
6   johnnyjsuh 2022-05-01 21:24:12  1529259     11476
7   johnnyjsuh 2022-05-01 14:02:42  1090448     15685
8   johnnyjsuh 2022-05-01 04:25:55  1600990     13756
9   johnnyjsuh 2022-04-30 23:16:22  1630313     17709
10  johnnyjsuh 2022-04-29 21:53:56  1739166     16722
11  johnnyjsuh 2022-04-11 06:49:33  2408492     23326
12  johnnyjsuh 2022-04-05 07:40:44  1619705     16994
13  johnnyjsuh 2022-04-04 09:39:40  1671285     19784
14  johnnyjsuh 2022-03-24 11:34:52  1557231     18324
15  johnnyjsuh 2022-03-15 09:01:24  1719528     16688
16  johnnyjsuh 2022-03-10 15:58:42  1590335     15639
17  johnnyjsuh 2022-02-15 08:36:04  1983028     19111
18  johnnyjsuh 2022-02-09 08:46:23  2273143     40535
19  johnnyjsuh 2022-01-23 14:14:51  1990079     28722
20  johnnyjsuh 2022-01-17 06:02:41  2055791     50830
21  johnnyjsuh 2022-01-15 12:31:05  1442024     16998
22  johnnyjsuh 2021-12-31 15:49:22  1611255     29704

#### Hendery

In [ ]:
id = 'i_m_hendery'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 1316323.111111111 Comments: 21429.833333333332

        User ID        Publish Date    Likes  Comments
0   i_m_hendery 2022-05-20 13:16:29  1224824     32215
1   i_m_hendery 2022-05-18 07:29:18  1288658     33589
2   i_m_hendery 2022-05-13 10:09:43  1102963     15618
3   i_m_hendery 2022-05-05 08:07:38  1646179     30058
4   i_m_hendery 2022-04-28 09:45:52  1158933     14699
5   i_m_hendery 2022-04-21 09:51:57  1192957     13469
6   i_m_hendery 2022-04-13 10:34:46  1426267     59825
7   i_m_hendery 2022-04-12 06:30:07  1704689     19912
8   i_m_hendery 2022-03-08 08:55:05  1622025     29829
9   i_m_hendery 2022-02-18 03:27:50  1225340     15833
10  i_m_hendery 2022-01-25 04:43:00  1216905      5640
11  i_m_hendery 2022-01-24 10:02:19  1303369     13967
12  i_m_hendery 2022-01-19 13:16:03  1252939     12841
13  i_m_hendery 2022-01-18 09:56:03  1004909      6521
14  i_m_hendery 2022-01-17 13:55:07  1361995     20217
15  i_m_hendery 2022-01-10 09:51:18  1215112     13322
16  i_m_hendery 2022-01-07 05:31:32  1254389     17612
17  i_m_hendery 2022-01-06 13:19:30  1491363     30570

#### Haechan

In [ ]:
id = 'haechanahceah'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 2060586.625 Comments: 87502.625

         User ID        Publish Date    Likes  Comments
0  haechanahceah 2022-05-14 06:18:56  1665507     33056
1  haechanahceah 2022-05-07 14:14:25  2017568     69715
2  haechanahceah 2022-04-17 10:31:57  1797706     53335
3  haechanahceah 2022-04-01 04:08:15  1933550     28028
4  haechanahceah 2022-03-28 06:48:27  2136654     63295
5  haechanahceah 2022-03-23 11:30:28  2200731     94598
6  haechanahceah 2022-03-19 04:11:08  2182229    108752
7  haechanahceah 2022-03-16 11:30:06  2550748    249242

#### Doyoung

In [ ]:
id = 'do0_nct'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 1865820.0232558139 Comments: 21673.79069767442

    User ID        Publish Date    Likes  Comments
0   do0_nct 2022-05-16 13:38:28  1741133     14636
1   do0_nct 2022-05-13 14:47:03  1840985     17017
2   do0_nct 2022-05-11 14:05:28  1891893     23784
3   do0_nct 2022-05-07 09:03:24  1432466     20004
4   do0_nct 2022-05-05 11:46:12  2149977     28718
5   do0_nct 2022-04-28 14:19:58  2094578     18122
6   do0_nct 2022-04-24 13:46:21  1663125      8941
7   do0_nct 2022-04-24 02:16:29  1191909      4902
8   do0_nct 2022-04-24 02:06:44  1419726      7957
9   do0_nct 2022-04-22 13:45:50  2138225     23107
10  do0_nct 2022-04-17 14:14:46  1374654     18053
11  do0_nct 2022-04-15 05:41:04  1461032     13501
12  do0_nct 2022-04-13 13:49:23  2157213     21280
13  do0_nct 2022-04-12 14:45:14  2076065     24065
14  do0_nct 2022-04-10 13:25:17  2093590     17929
15  do0_nct 2022-04-06 14:01:14  1997068     21639
16  do0_nct 2022-04-01 12:57:16  2234129     22539
17  do0_nct 2022-03-27 13:52:14  2477649     37822
18  do0_nct 2022-03-23 12:25:14  2239982     24483
19  do0_nct 2022-03-16 12:39:32  2250157     30890
20  do0_nct 2022-03-12 13:49:09  1819357     21990
21  do0_nct 2022-03-07 13:11:57  2176837     34528
22  do0_nct 2022-03-04 13:20:06  1900099     16152
23  do0_nct 2022-03-02 07:04:04   811054      3314
24  do0_nct 2022-03-02 04:53:07  1545770     10104
25  do0_nct 2022-02-23 09:52:12  2369709     42175
26  do0_nct 2022-02-23 09:43:59  1695364     18030
27  do0_nct 2022-02-17 16:44:25  1687203     23309
28  do0_nct 2022-02-17 10:25:45  1180520     14332
29  do0_nct 2022-02-09 14:08:22  2207694     35591
30  do0_nct 2022-02-06 14:03:02  2386153     45935
31  do0_nct 2022-02-02 05:01:27  1268610     32007
32  do0_nct 2022-02-01 05:31:31  1976500     26102
33  do0_nct 2022-01-31 12:39:39  1716543     33643
34  do0_nct 2022-01-30 11:19:52  1772326     15850
35  do0_nct 2022-01-29 12:35:23  1916633     17600
36  do0_nct 2022-01-28 13:10:39  1592610     15324
37  do0_nct 2022-01-16 13:55:12  1973890     20752
38  do0_nct 2022-01-11 08:04:32  2060951     19761
39  do0_nct 2022-01-09 12:09:51  2101485     20261
40  do0_nct 2022-01-04 13:27:13  2018847     21283
41  do0_nct 2022-01-01 09:30:49  2118128     20697
42  do0_nct 2021-12-31 13:44:19  2008422     23844

#### Xiaojun

In [ ]:
id = 'djxiao_888'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 1386002.0833333333 Comments: 17317.25

       User ID        Publish Date    Likes  Comments
0   djxiao_888 2022-05-13 12:57:16  1339701     11473
1   djxiao_888 2022-04-28 09:43:37  1500891     20511
2   djxiao_888 2022-04-24 09:02:06   693524      4896
3   djxiao_888 2022-04-10 08:35:44   900067      5610
4   djxiao_888 2022-04-06 06:29:06  1443175      8439
5   djxiao_888 2022-04-03 08:53:25  1502697     15771
6   djxiao_888 2022-03-17 11:51:34  2637558     75917
7   djxiao_888 2022-02-28 05:49:56  1338064     12798
8   djxiao_888 2022-02-14 09:11:06  1187113     22962
9   djxiao_888 2022-02-13 07:53:43  1151226      9503
10  djxiao_888 2022-02-06 05:20:16  1574484     14811
11  djxiao_888 2022-01-25 05:11:51  1363525      5116

#### Jaehyun

In [ ]:
id = '_jeongjaehyun'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 2877069.8666666667 Comments: 50356.4

          User ID        Publish Date    Likes  Comments
0   _jeongjaehyun 2022-05-20 13:17:01  1082063     23669
1   _jeongjaehyun 2022-05-16 11:36:33  3165312     66024
2   _jeongjaehyun 2022-05-05 06:09:21  2923793     56540
3   _jeongjaehyun 2022-04-26 04:39:30  2372903     37919
4   _jeongjaehyun 2022-04-04 09:08:34  3119168     53725
5   _jeongjaehyun 2022-03-24 08:18:21  2741318     46441
6   _jeongjaehyun 2022-03-11 09:13:37  3333830     48419
7   _jeongjaehyun 2022-03-10 07:52:40  3426659     74800
8   _jeongjaehyun 2022-02-28 14:17:56  2605838     31316
9   _jeongjaehyun 2022-02-24 09:28:53  3205081     53105
10  _jeongjaehyun 2022-02-15 02:32:50  3006388     40201
11  _jeongjaehyun 2022-02-14 13:41:43  3427500     93706
12  _jeongjaehyun 2022-01-17 10:38:45  2827267     40079
13  _jeongjaehyun 2022-01-16 06:28:03  2896497     45032
14  _jeongjaehyun 2022-01-07 10:43:29  3022431     44370

#### Shotaro

In [ ]:
id = '_shotaroo_'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 1202098.4210526317 Comments: 7369.105263157895

       User ID        Publish Date    Likes  Comments
0   _shotaroo_ 2022-05-18 10:02:03  1285014      7723
1   _shotaroo_ 2022-05-09 04:48:58   917249      3722
2   _shotaroo_ 2022-05-02 07:57:55  1220446      5592
3   _shotaroo_ 2022-04-29 04:57:30  1260262      7195
4   _shotaroo_ 2022-04-21 11:10:50  1080408      7373
5   _shotaroo_ 2022-04-17 09:52:00  1466667      6700
6   _shotaroo_ 2022-04-09 11:52:16  1031916      3302
7   _shotaroo_ 2022-03-28 06:54:51  1135073      3864
8   _shotaroo_ 2022-03-28 06:53:08  1156821      3397
9   _shotaroo_ 2022-03-25 12:36:36  1586720      9195
10  _shotaroo_ 2022-03-23 06:57:11   912436      3643
11  _shotaroo_ 2022-03-23 06:54:37   983032      3608
12  _shotaroo_ 2022-03-20 11:11:07   866973      6339
13  _shotaroo_ 2022-03-07 12:25:01  1374194      6805
14  _shotaroo_ 2022-02-20 11:44:48  1135210     12691
15  _shotaroo_ 2022-02-05 12:48:25  1584596     14552
16  _shotaroo_ 2022-01-25 14:10:50  1236909      9758
17  _shotaroo_ 2022-01-21 12:34:27  1697001     19555
18  _shotaroo_ 2021-12-31 13:04:41   908943      4999

#### Lucas

In [ ]:
id = 'lucas_xx444'
df = pd.DataFrame(data_dict[id])
df.columns = ['User ID', 'Publish Date', 'Likes', 'Comments']
print('Likes:', df['Likes'].mean(), 'Comments:', df['Comments'].mean())
avg.append((id, df['Likes'].mean(),  df['Comments'].mean()))
df

Likes: 3997843.0 Comments: 1028979.0

       User ID        Publish Date    Likes  Comments
0  lucas_xx444 2022-02-09 13:46:16  3997843   1028979

### 单人数据比较

现在我们就获得了每位划人2022年的平均点赞和平均评论数

In [ ]:
avg

[('yuu_taa_1026', 1341344.8, 12543.466666666667),
 ('yellow_3to3', 1951307.5714285714, 38836.357142857145),
 ('yangyang_x2', 1053591.8, 8616.55),
 ('wwiinn_7', 1448837.12, 13114.08),
 ('tenlee_1001', 1332710.4838709678, 15059.967741935483),
 ('taeoxo_nct', 1778088.1612903227, 18326.709677419356),
 ('sugaringcandy', 1464492.8, 41361.6),
 ('onyourm__ark', 2080521.1851851852, 33040.07407407407),
 ('na.jaemin0813', 2361902.5, 41282.92857142857),
 ('mo.on_air', 1337274.2222222222, 20140.11111111111),
 ('kun11xd', 1012977.4, 11072.333333333334),
 ('johnnyjsuh', 1751860.1739130435, 20240.17391304348),
 ('i_m_hendery', 1316323.111111111, 21429.833333333332),
 ('haechanahceah', 2060586.625, 87502.625),
 ('do0_nct', 1865820.0232558139, 21673.79069767442),
 ('djxiao_888', 1386002.0833333333, 17317.25),
 ('_jeongjaehyun', 2877069.8666666667, 50356.4),
 ('_shotaroo_', 1202098.4210526317, 7369.105263157895),
 ('lucas_xx444', 3997843.0, 1028979.0)]

同样，我们可以把各位按照平均点赞数排序。

In [ ]:
df_avg = pd.DataFrame(avg)
df_avg.columns = ['User ID', 'Average Likes', 'Average Comments']
pd.set_option('display.float_format', lambda x: '%.5f' % x)
df_avg.sort_values(by = ['Average Likes'], ascending=False)

          User ID  Average Likes  Average Comments
18    lucas_xx444  3997843.00000     1028979.00000
16  _jeongjaehyun  2877069.86667       50356.40000
8   na.jaemin0813  2361902.50000       41282.92857
7    onyourm__ark  2080521.18519       33040.07407
13  haechanahceah  2060586.62500       87502.62500
1     yellow_3to3  1951307.57143       38836.35714
14        do0_nct  1865820.02326       21673.79070
5      taeoxo_nct  1778088.16129       18326.70968
11     johnnyjsuh  1751860.17391       20240.17391
6   sugaringcandy  1464492.80000       41361.60000
3        wwiinn_7  1448837.12000       13114.08000
15     djxiao_888  1386002.08333       17317.25000
0    yuu_taa_1026  1341344.80000       12543.46667
9       mo.on_air  1337274.22222       20140.11111
4     tenlee_1001  1332710.48387       15059.96774
12    i_m_hendery  1316323.11111       21429.83333
17     _shotaroo_  1202098.42105        7369.10526
2     yangyang_x2  1053591.80000        8616.55000
10        kun11xd  1012977.40000       11072.33333

也可以按照平均评论数排序：

In [ ]:
df_avg.sort_values(by = ['Average Comments'], ascending=False)

          User ID  Average Likes  Average Comments
18    lucas_xx444  3997843.00000     1028979.00000
13  haechanahceah  2060586.62500       87502.62500
16  _jeongjaehyun  2877069.86667       50356.40000
6   sugaringcandy  1464492.80000       41361.60000
8   na.jaemin0813  2361902.50000       41282.92857
1     yellow_3to3  1951307.57143       38836.35714
7    onyourm__ark  2080521.18519       33040.07407
14        do0_nct  1865820.02326       21673.79070
12    i_m_hendery  1316323.11111       21429.83333
11     johnnyjsuh  1751860.17391       20240.17391
9       mo.on_air  1337274.22222       20140.11111
5      taeoxo_nct  1778088.16129       18326.70968
15     djxiao_888  1386002.08333       17317.25000
4     tenlee_1001  1332710.48387       15059.96774
3        wwiinn_7  1448837.12000       13114.08000
0    yuu_taa_1026  1341344.80000       12543.46667
10        kun11xd  1012977.40000       11072.33333
2     yangyang_x2  1053591.80000        8616.55000
17     _shotaroo_  1202098.42105        7369.10526

### 汇总分析

我们可以将大家的所有发贴合并汇总成一个表格，然后按照评论数排序。

可以看到排名第一的是`lucas_xx444`2022年2月9日的发贴，点赞接近四百万，评论超过一百万条。排名第二的发贴来自`haechanahceah`，接近25万留言。

In [ ]:
data_all_in_one = []
for key, val in data_dict.items():
  for entry in val:
    data_all_in_one.append(entry)
df = pd.DataFrame(data_all_in_one)
df.columns = ['User ID', 'Publish Time', 'Likes', 'Comments']
pd.set_option('display.max_rows', None)
df.sort_values(by = ['Comments'], ascending=False)

           User ID        Publish Time    Likes  Comments
305    lucas_xx444 2022-02-09 13:46:16  3997843   1028979
313  haechanahceah 2022-03-16 11:30:06  2550748    249242
31   sugaringcandy 2022-04-01 05:19:06  1761047    108798
312  haechanahceah 2022-03-19 04:11:08  2182229    108752
259    yellow_3to3 2022-01-15 13:03:45  2279576    104785
288  na.jaemin0813 2022-03-14 15:42:42  3017839    102301
311  haechanahceah 2022-03-23 11:30:28  2200731     94598
140  _jeongjaehyun 2022-02-14 13:41:43  3427500     93706
25    onyourm__ark 2022-01-19 08:41:30  2777572     87970
150     djxiao_888 2022-03-17 11:51:34  2637558     75917
136  _jeongjaehyun 2022-03-10 07:52:40  3426659     74800
307  haechanahceah 2022-05-07 14:14:25  2017568     69715
130  _jeongjaehyun 2022-05-16 11:36:33  3165312     66024
310  haechanahceah 2022-03-28 06:48:27  2136654     63295
258    yellow_3to3 2022-03-14 11:19:35  2183001     60659
94     i_m_hendery 2022-04-13 10:34:46  1426267     59825
289  na.jaemin0813 2022-01-05 14:35:40  2649006     59798
131  _jeongjaehyun 2022-05-05 06:09:21  2923793     56540
133  _jeongjaehyun 2022-04-04 09:08:34  3119168     53725
16    onyourm__ark 2022-03-11 10:26:35  2093108     53637
277  na.jaemin0813 2022-05-13 19:48:11  2438952     53529
308  haechanahceah 2022-04-17 10:31:57  1797706     53335
138  _jeongjaehyun 2022-02-24 09:28:53  3205081     53105
18    onyourm__ark 2022-02-14 04:33:28  2569537     51224
257    yellow_3to3 2022-03-18 04:15:46  2321059     50980
126     johnnyjsuh 2022-01-17 06:02:41  2055791     50830
13    onyourm__ark 2022-03-22 04:14:17  2555682     48852
287  na.jaemin0813 2022-03-17 16:34:01  2551403     48469
135  _jeongjaehyun 2022-03-11 09:13:37  3333830     48419
248    yellow_3to3 2022-05-14 16:44:26  2159761     47677
256    yellow_3to3 2022-03-26 04:59:29  2188309     47049
20    onyourm__ark 2022-02-07 11:53:28  2577512     46794
253    yellow_3to3 2022-03-28 06:48:25  2293252     46701
134  _jeongjaehyun 2022-03-24 08:18:21  2741318     46441
206        do0_nct 2022-02-06 14:03:02  2386153     45935
142  _jeongjaehyun 2022-01-16 06:28:03  2896497     45032
143  _jeongjaehyun 2022-01-07 10:43:29  3022431     44370
26    onyourm__ark 2022-01-16 07:58:00  2285965     44072
276  na.jaemin0813 2022-05-20 07:18:50  2229806     43508
260    yellow_3to3 2022-01-13 13:16:31  1890448     43130
201        do0_nct 2022-02-23 09:52:12  2369709     42175
292   yuu_taa_1026 2022-04-21 01:29:02  1465000     41593
30   sugaringcandy 2022-04-02 08:15:32  1499917     41349
124     johnnyjsuh 2022-02-09 08:46:23  2273143     40535
139  _jeongjaehyun 2022-02-15 02:32:50  3006388     40201
286  na.jaemin0813 2022-03-24 07:49:08  2460835     40112
141  _jeongjaehyun 2022-01-17 10:38:45  2827267     40079
243      mo.on_air 2022-02-23 23:41:08  1501496     39594
278  na.jaemin0813 2022-04-18 05:22:05  2297712     39382
132  _jeongjaehyun 2022-04-26 04:39:30  2372903     37919
193        do0_nct 2022-03-27 13:52:14  2477649     37822
279  na.jaemin0813 2022-04-18 05:21:19  2378944     37784
23    onyourm__ark 2022-01-31 03:04:38  2253706     37305
325     taeoxo_nct 2022-03-28 00:00:56  2115584     36715
339     taeoxo_nct 2022-01-25 01:11:36  2234048     36534
205        do0_nct 2022-02-09 14:08:22  2207694     35591
55     tenlee_1001 2022-02-16 14:50:06  1780578     35523
284  na.jaemin0813 2022-03-28 15:24:20  2713940     34956
197        do0_nct 2022-03-07 13:11:57  2176837     34528
24    onyourm__ark 2022-01-26 12:48:19  2264442     34474
209        do0_nct 2022-01-31 12:39:39  1716543     33643
337     taeoxo_nct 2022-02-13 03:49:45  2296860     33629
89     i_m_hendery 2022-05-18 07:29:18  1288658     33589
306  haechanahceah 2022-05-14 06:18:56  1665507     33056
22    onyourm__ark 2022-02-03 15:13:42  2137402     32560
15    onyourm__ark 2022-03-16 04:08:45  2162991     32346
88     i_m_hendery 2022-05-20 13:16:29  1224824     32215
207        do0_nct 2022-02-02 05:01:27  1268610     32007
137  _jeongjaehyun 2022-02-28 14:17:56  2605838     31316
11    onyourm__ark 2022-03-25 09:30:41  2098718     31118
195        do0_nct 2022-03-16 12:39:32  2250157     30890
281  na.jaemin0813 2022-04-09 12:52:31  2338131     30830
252    yellow_3to3 2022-03-31 10:35:59  2042448     30812
105    i_m_hendery 2022-01-06 13:19:30  1491363     30570
3     onyourm__ark 2022-05-04 13:11:07  2162367     30532
91     i_m_hendery 2022-05-05 08:07:38  1646179     30058
96     i_m_hendery 2022-03-08 08:55:05  1622025     29829
21    onyourm__ark 2022-02-06 07:02:17  2104722     29819
282  na.jaemin0813 2022-04-03 08:15:40  2298001     29716
128     johnnyjsuh 2021-12-31 15:49:22  1611255     29704
245      mo.on_air 2022-01-23 15:54:06  1596773     29686
2     onyourm__ark 2022-05-06 07:45:28  2275322     29616
110     johnnyjsuh 2022-05-03 15:45:12  2150711     29152
125     johnnyjsuh 2022-01-23 14:14:51  1990079     28722
180        do0_nct 2022-05-05 11:46:12  2149977     28718
9     onyourm__ark 2022-04-03 11:33:10  2140415     28623
344     taeoxo_nct 2022-01-02 05:54:00  1454388     28206
309  haechanahceah 2022-04-01 04:08:15  1933550     28028
75        wwiinn_7 2022-02-14 11:35:28  1660249     27880
19    onyourm__ark 2022-02-12 06:16:34  2291254     27727
62     tenlee_1001 2021-12-31 15:48:11  1807829     26892
208        do0_nct 2022-02-01 05:31:31  1976500     26102
255    yellow_3to3 2022-03-27 09:15:17  1972935     26013
316     taeoxo_nct 2022-05-05 14:19:52  1987923     25828
27   sugaringcandy 2022-05-12 15:08:28  1401675     25807
7     onyourm__ark 2022-04-11 08:59:47  2317963     25555
14    onyourm__ark 2022-03-19 08:05:13  1557048     25507
285  na.jaemin0813 2022-03-24 07:50:26  2052205     25356
47     tenlee_1001 2022-03-28 12:45:55  2384460     25285
341     taeoxo_nct 2022-01-19 14:36:41  1965034     25158
4     onyourm__ark 2022-04-21 13:18:29  1415125     25120
333     taeoxo_nct 2022-03-07 09:57:13  1940153     24731
6     onyourm__ark 2022-04-17 10:54:38  1985435     24703
274        kun11xd 2022-01-11 09:46:07  1385713     24621
194        do0_nct 2022-03-23 12:25:14  2239982     24483
189        do0_nct 2022-04-12 14:45:14  2076065     24065
5     onyourm__ark 2022-04-18 07:51:06  2037518     23994
218        do0_nct 2021-12-31 13:44:19  2008422     23844
178        do0_nct 2022-05-11 14:05:28  1891893     23784
129  _jeongjaehyun 2022-05-20 13:17:01  1082063     23669
117     johnnyjsuh 2022-04-11 06:49:33  2408492     23326
203        do0_nct 2022-02-17 16:44:25  1687203     23309
242      mo.on_air 2022-03-14 06:44:48  1442628     23110
185        do0_nct 2022-04-22 13:45:50  2138225     23107
0     onyourm__ark 2022-05-16 08:12:49  1444516     22979
280  na.jaemin0813 2022-04-09 12:52:47  1947185     22973
152     djxiao_888 2022-02-14 09:11:06  1187113     22962
12    onyourm__ark 2022-03-25 09:30:09  2189899     22961
192        do0_nct 2022-04-01 12:57:16  2234129     22539
336     taeoxo_nct 2022-02-14 13:07:02  1969923     22337
33     tenlee_1001 2022-05-05 07:48:56  1743406     22275
60     tenlee_1001 2022-01-16 15:13:43  1954553     22233
317     taeoxo_nct 2022-05-05 08:56:39  2006071     22118
196        do0_nct 2022-03-12 13:49:09  1819357     21990
342     taeoxo_nct 2022-01-17 08:18:10  1728566     21856
191        do0_nct 2022-04-06 14:01:14  1997068     21639
81        wwiinn_7 2022-01-20 11:55:22  1862726     21538
254    yellow_3to3 2022-03-28 04:52:11  1930269     21492
275        kun11xd 2022-01-01 04:46:21  1004940     21341
216        do0_nct 2022-01-04 13:27:13  2018847     21283
188        do0_nct 2022-04-13 13:49:23  2157213     21280
54     tenlee_1001 2022-03-01 07:03:26  1814167     21127
8     onyourm__ark 2022-04-06 01:25:44  2113300     21006
244      mo.on_air 2022-01-29 02:38:21  1536377     20797
213        do0_nct 2022-01-16 13:55:12  1973890     20752
217        do0_nct 2022-01-01 09:30:49  2118128     20697
108     johnnyjsuh 2022-05-05 05:03:10  2169149     20679
324     taeoxo_nct 2022-04-04 09:44:41  2156277     20624
42     tenlee_1001 2022-04-03 10:37:27  1893438     20620
145     djxiao_888 2022-04-28 09:43:37  1500891     20511
56     tenlee_1001 2022-01-29 13:00:18  1400768     20375
40     tenlee_1001 2022-04-16 09:46:11  1632260     20297
215        do0_nct 2022-01-09 12:09:51  2101485     20261
102    i_m_hendery 2022-01-17 13:55:07  1361995     20217
179        do0_nct 2022-05-07 09:03:24  1432466     20004
86        wwiinn_7 2022-01-07 08:55:48  1795756     19968
17    onyourm__ark 2022-03-10 09:49:02  1541682     19914
95     i_m_hendery 2022-04-12 06:30:07  1704689     19912
247    yellow_3to3 2022-05-20 07:20:46  1774194     19910
119     johnnyjsuh 2022-04-04 09:39:40  1671285     19784
214        do0_nct 2022-01-11 08:04:32  2060951     19761
251    yellow_3to3 2022-04-02 15:18:52  1705026     19707
236     _shotaroo_ 2022-01-21 12:34:27  1697001     19555
246      mo.on_air 2022-01-17 15:53:48  1325486     19530
123     johnnyjsuh 2022-02-15 08:36:04  1983028     19111
334     taeoxo_nct 2022-02-25 03:18:05  1645280     19041
52     tenlee_1001 2022-03-05 12:54:20  1699654     18564
87        wwiinn_7 2022-01-06 06:13:49  1627815     18515
120     johnnyjsuh 2022-03-24 11:34:52  1557231     18324
28   sugaringcandy 2022-05-07 08:05:35  1325807     18251
295   yuu_taa_1026 2022-03-28 05:34:40  1819436     18210
181        do0_nct 2022-04-28 14:19:58  2094578     18122
186        do0_nct 2022-04-17 14:14:46  1374654     18053
202        do0_nct 2022-02-23 09:43:59  1695364     18030
190        do0_nct 2022-04-10 13:25:17  2093590     17929
115     johnnyjsuh 2022-04-30 23:16:22  1630313     17709
338     taeoxo_nct 2022-01-25 10:12:17  1775136     17647
104    i_m_hendery 2022-01-07 05:31:32  1254389     17612
211        do0_nct 2022-01-29 12:35:23  1916633     17600
65        wwiinn_7 2022-05-16 11:49:29  1488600     17302
10    onyourm__ark 2022-03-30 09:22:40  1452548     17199
160    yangyang_x2 2022-05-05 07:56:36  1288112     17054
320     taeoxo_nct 2022-04-14 09:31:48  1762496     17042
177        do0_nct 2022-05-13 14:47:03  1840985     17017
127     johnnyjsuh 2022-01-15 12:31:05  1442024     16998
118     johnnyjsuh 2022-04-05 07:40:44  1619705     16994
116     johnnyjsuh 2022-04-29 21:53:56  1739166     16722
121     johnnyjsuh 2022-03-15 09:01:24  1719528     16688
34     tenlee_1001 2022-05-01 14:50:19   893573     16680
340     taeoxo_nct 2022-01-23 04:35:12  1663691     16641
1     onyourm__ark 2022-05-13 10:50:57  1368323     16475
38     tenlee_1001 2022-04-22 08:24:32  1441476     16410
198        do0_nct 2022-03-04 13:20:06  1900099     16152
269        kun11xd 2022-02-15 07:00:49   749690     15917
262        kun11xd 2022-04-27 10:12:17  1390779     15903
210        do0_nct 2022-01-30 11:19:52  1772326     15850
97     i_m_hendery 2022-02-18 03:27:50  1225340     15833
84        wwiinn_7 2022-01-12 09:33:52  1753349     15812
149     djxiao_888 2022-04-03 08:53:25  1502697     15771
113     johnnyjsuh 2022-05-01 14:02:42  1090448     15685
122     johnnyjsuh 2022-03-10 15:58:42  1590335     15639
90     i_m_hendery 2022-05-13 10:09:43  1102963     15618
50     tenlee_1001 2022-03-11 12:32:10  1359226     15608
331     taeoxo_nct 2022-03-15 09:00:17  1446224     15574
58     tenlee_1001 2022-01-20 13:45:44  1297897     15565
301   yuu_taa_1026 2022-02-26 03:06:16  1708642     15560
332     taeoxo_nct 2022-03-09 22:37:39  1884829     15367
249    yellow_3to3 2022-04-02 15:20:08  1377805     15342
212        do0_nct 2022-01-28 13:10:39  1592610     15324
71        wwiinn_7 2022-04-08 06:58:59  1578412     15260
238      mo.on_air 2022-05-14 23:22:34  1121184     15071
297   yuu_taa_1026 2022-03-24 06:21:30  1515681     14924
154     djxiao_888 2022-02-06 05:20:16  1574484     14811
49     tenlee_1001 2022-03-12 15:22:22  1379809     14776
80        wwiinn_7 2022-01-25 06:44:14  1496588     14720
92     i_m_hendery 2022-04-28 09:45:52  1158933     14699
335     taeoxo_nct 2022-02-23 02:11:39  1803207     14696
176        do0_nct 2022-05-16 13:38:28  1741133     14636
330     taeoxo_nct 2022-03-16 03:18:06  1893916     14628
234     _shotaroo_ 2022-02-05 12:48:25  1584596     14552
204        do0_nct 2022-02-17 10:25:45  1180520     14332
51     tenlee_1001 2022-03-06 05:37:19  1403781     14119
291   yuu_taa_1026 2022-05-09 03:18:49  1586188     14020
99     i_m_hendery 2022-01-24 10:02:19  1303369     13967
109     johnnyjsuh 2022-05-04 15:06:45  1744242     13928
315     taeoxo_nct 2022-05-12 09:21:15  1351086     13919
114     johnnyjsuh 2022-05-01 04:25:55  1600990     13756
79        wwiinn_7 2022-01-26 05:07:27  1498293     13703
64        wwiinn_7 2022-05-18 17:01:55  1391265     13699
343     taeoxo_nct 2022-01-09 02:22:26  1528957     13569
187        do0_nct 2022-04-15 05:41:04  1461032     13501
93     i_m_hendery 2022-04-21 09:51:57  1192957     13469
302   yuu_taa_1026 2022-02-26 03:05:06  1499121     13426
53     tenlee_1001 2022-03-02 13:04:23  1472990     13340
72        wwiinn_7 2022-03-06 13:50:18  1506703     13335
103    i_m_hendery 2022-01-10 09:51:18  1215112     13322
173    yangyang_x2 2022-01-14 02:39:12  1241877     13221
74        wwiinn_7 2022-03-03 10:12:50  1572003     12973
78        wwiinn_7 2022-01-28 12:04:51  1450413     12929
100    i_m_hendery 2022-01-19 13:16:03  1252939     12841
240      mo.on_air 2022-04-29 06:20:49  1094463     12840
151     djxiao_888 2022-02-28 05:49:56  1338064     12798
61     tenlee_1001 2022-01-07 09:59:41  1176785     12695
233     _shotaroo_ 2022-02-20 11:44:48  1135210     12691
29   sugaringcandy 2022-04-11 07:58:17  1334018     12603
76        wwiinn_7 2022-01-31 13:16:59  1480087     12565
267        kun11xd 2022-02-21 13:14:02  1162219     12490
45     tenlee_1001 2022-03-30 15:48:16  1285929     12294
239      mo.on_air 2022-04-29 06:30:25  1207469     12262
77        wwiinn_7 2022-01-30 10:00:02  1375482     12217
329     taeoxo_nct 2022-03-16 06:26:52  1756987     12059
167    yangyang_x2 2022-02-14 08:52:41  1193174     11969
314     taeoxo_nct 2022-05-15 06:47:50  1550191     11650
321     taeoxo_nct 2022-04-12 11:41:55  1435202     11647
112     johnnyjsuh 2022-05-01 21:24:12  1529259     11476
144     djxiao_888 2022-05-13 12:57:16  1339701     11473
319     taeoxo_nct 2022-04-27 12:35:39  1438306     11458
111     johnnyjsuh 2022-05-02 00:23:46  1784278     11407
44     tenlee_1001 2022-04-02 08:33:01  1259233     11352
273        kun11xd 2022-01-16 17:28:27  1190388     11315
326     taeoxo_nct 2022-03-24 09:38:48  1776242     11289
59     tenlee_1001 2022-01-16 19:12:01  1237271     11163
304   yuu_taa_1026 2022-02-25 04:33:06  1519660     11128
322     taeoxo_nct 2022-04-10 10:22:04  1690677     11095
318     taeoxo_nct 2022-04-30 09:16:07  1685918     11066
70        wwiinn_7 2022-04-11 10:45:57  1380826     10981
46     tenlee_1001 2022-03-29 08:10:48  1104490     10976
85        wwiinn_7 2022-01-07 08:56:04  1406447     10968
328     taeoxo_nct 2022-03-21 08:06:01  1717885     10955
296   yuu_taa_1026 2022-03-26 14:04:08  1520531     10918
323     taeoxo_nct 2022-04-09 12:38:38  1795288     10819
270        kun11xd 2022-02-14 13:20:53   996009     10651
290   yuu_taa_1026 2022-05-14 14:23:47  1207893     10650
168    yangyang_x2 2022-02-09 07:53:59  1380948     10613
57     tenlee_1001 2022-01-21 13:21:49  1268028     10536
36     tenlee_1001 2022-04-23 14:17:03   593958     10458
35     tenlee_1001 2022-04-24 09:22:06   773247     10457
63        wwiinn_7 2022-05-18 17:07:45  1171346     10410
107     johnnyjsuh 2022-05-09 04:06:22  1703541     10358
261        kun11xd 2022-05-18 04:31:08   948397     10302
327     taeoxo_nct 2022-03-23 13:22:09  1664388     10230
200        do0_nct 2022-03-02 04:53:07  1545770     10104
235     _shotaroo_ 2022-01-25 14:10:50  1236909      9758
82        wwiinn_7 2022-01-18 03:03:28  1375877      9631
153     djxiao_888 2022-02-13 07:53:43  1151226      9503
250    yellow_3to3 2022-04-02 15:19:29  1200223      9452
159    yangyang_x2 2022-05-14 01:03:09  1013937      9392
161    yangyang_x2 2022-04-20 02:40:58  1190005      9308
271        kun11xd 2022-01-26 12:32:39   615118      9261
283  na.jaemin0813 2022-04-03 08:15:15  1692676      9247
228     _shotaroo_ 2022-03-25 12:36:36  1586720      9195
166    yangyang_x2 2022-02-21 12:47:25  1096092      9189
266        kun11xd 2022-03-05 10:13:17  1094389      9161
83        wwiinn_7 2022-01-12 09:35:17  1381003      9074
73        wwiinn_7 2022-03-03 10:13:46  1187293      9032
182        do0_nct 2022-04-24 13:46:21  1663125      8941
162    yangyang_x2 2022-04-11 13:15:36  1062995      8876
169    yangyang_x2 2022-02-02 04:18:24  1061245      8858
165    yangyang_x2 2022-02-22 08:05:52  1105928      8830
68        wwiinn_7 2022-04-25 09:27:23  1424815      8788
37     tenlee_1001 2022-04-23 13:37:04   970580      8546
148     djxiao_888 2022-04-06 06:29:06  1443175      8439
175    yangyang_x2 2021-12-31 13:29:22   883230      8416
241      mo.on_air 2022-04-10 13:49:21  1209592      8371
163    yangyang_x2 2022-03-15 06:44:52  1153544      8181
164    yangyang_x2 2022-03-07 14:29:20  1118448      8151
106     johnnyjsuh 2022-05-15 03:41:06  1228791      7997
43     tenlee_1001 2022-04-02 08:43:45   861689      7971
184        do0_nct 2022-04-24 02:06:44  1419726      7957
303   yuu_taa_1026 2022-02-26 03:04:01  1133780      7918
219     _shotaroo_ 2022-05-18 10:02:03  1285014      7723
223     _shotaroo_ 2022-04-21 11:10:50  1080408      7373
171    yangyang_x2 2022-01-18 13:10:55  1036904      7255
174    yangyang_x2 2022-01-01 06:37:18   995657      7255
222     _shotaroo_ 2022-04-29 04:57:30  1260262      7195
265        kun11xd 2022-03-14 13:03:11  1038885      7193
294   yuu_taa_1026 2022-03-28 16:31:25  1268805      7101
67        wwiinn_7 2022-05-01 18:04:26  1243204      7071
232     _shotaroo_ 2022-03-07 12:25:01  1374194      6805
170    yangyang_x2 2022-01-25 05:01:02   869422      6787
224     _shotaroo_ 2022-04-17 09:52:00  1466667      6700
298   yuu_taa_1026 2022-02-26 03:08:43   911458      6636
48     tenlee_1001 2022-03-26 18:11:43  1313105      6605
101    i_m_hendery 2022-01-18 09:56:03  1004909      6521
231     _shotaroo_ 2022-03-20 11:11:07   866973      6339
300   yuu_taa_1026 2022-02-26 03:07:09  1192164      6059
157    yangyang_x2 2022-05-16 09:36:08   897234      6029
299   yuu_taa_1026 2022-02-26 03:08:01  1016805      5889
98     i_m_hendery 2022-01-25 04:43:00  1216905      5640
147     djxiao_888 2022-04-10 08:35:44   900067      5610
221     _shotaroo_ 2022-05-02 07:57:55  1220446      5592
268        kun11xd 2022-02-19 12:39:50   953606      5585
41     tenlee_1001 2022-04-14 14:26:51   848562      5333
69        wwiinn_7 2022-04-21 08:13:24  1111908      5301
264        kun11xd 2022-03-19 10:08:08   858300      5286
39     tenlee_1001 2022-04-20 09:17:19   655934      5219
263        kun11xd 2022-04-11 12:37:38   901497      5192
155     djxiao_888 2022-01-25 05:11:51  1363525      5116
237     _shotaroo_ 2021-12-31 13:04:41   908943      4999
183        do0_nct 2022-04-24 02:16:29  1191909      4902
146     djxiao_888 2022-04-24 09:02:06   693524      4896
172    yangyang_x2 2022-01-15 04:19:11   959439      4868
156    yangyang_x2 2022-05-19 06:59:41   752298      4308
66        wwiinn_7 2022-05-09 04:04:37  1000468      4180
293   yuu_taa_1026 2022-04-07 13:16:48   755008      4120
226     _shotaroo_ 2022-03-28 06:54:51  1135073      3864
158    yangyang_x2 2022-05-15 05:04:22   771347      3771
220     _shotaroo_ 2022-05-09 04:48:58   917249      3722
229     _shotaroo_ 2022-03-23 06:57:11   912436      3643
230     _shotaroo_ 2022-03-23 06:54:37   983032      3608
32     tenlee_1001 2022-05-18 04:42:58   605349      3565
227     _shotaroo_ 2022-03-28 06:53:08  1156821      3397
199        do0_nct 2022-03-02 07:04:04   811054      3314

也可以按照点赞数排序：

In [ ]:
df.sort_values(by = ['Likes'], ascending=False)

           User ID        Publish Time    Likes  Comments
305    lucas_xx444 2022-02-09 13:46:16  3997843   1028979
140  _jeongjaehyun 2022-02-14 13:41:43  3427500     93706
136  _jeongjaehyun 2022-03-10 07:52:40  3426659     74800
135  _jeongjaehyun 2022-03-11 09:13:37  3333830     48419
138  _jeongjaehyun 2022-02-24 09:28:53  3205081     53105
130  _jeongjaehyun 2022-05-16 11:36:33  3165312     66024
133  _jeongjaehyun 2022-04-04 09:08:34  3119168     53725
143  _jeongjaehyun 2022-01-07 10:43:29  3022431     44370
288  na.jaemin0813 2022-03-14 15:42:42  3017839    102301
139  _jeongjaehyun 2022-02-15 02:32:50  3006388     40201
131  _jeongjaehyun 2022-05-05 06:09:21  2923793     56540
142  _jeongjaehyun 2022-01-16 06:28:03  2896497     45032
141  _jeongjaehyun 2022-01-17 10:38:45  2827267     40079
25    onyourm__ark 2022-01-19 08:41:30  2777572     87970
134  _jeongjaehyun 2022-03-24 08:18:21  2741318     46441
284  na.jaemin0813 2022-03-28 15:24:20  2713940     34956
289  na.jaemin0813 2022-01-05 14:35:40  2649006     59798
150     djxiao_888 2022-03-17 11:51:34  2637558     75917
137  _jeongjaehyun 2022-02-28 14:17:56  2605838     31316
20    onyourm__ark 2022-02-07 11:53:28  2577512     46794
18    onyourm__ark 2022-02-14 04:33:28  2569537     51224
13    onyourm__ark 2022-03-22 04:14:17  2555682     48852
287  na.jaemin0813 2022-03-17 16:34:01  2551403     48469
313  haechanahceah 2022-03-16 11:30:06  2550748    249242
193        do0_nct 2022-03-27 13:52:14  2477649     37822
286  na.jaemin0813 2022-03-24 07:49:08  2460835     40112
277  na.jaemin0813 2022-05-13 19:48:11  2438952     53529
117     johnnyjsuh 2022-04-11 06:49:33  2408492     23326
206        do0_nct 2022-02-06 14:03:02  2386153     45935
47     tenlee_1001 2022-03-28 12:45:55  2384460     25285
279  na.jaemin0813 2022-04-18 05:21:19  2378944     37784
132  _jeongjaehyun 2022-04-26 04:39:30  2372903     37919
201        do0_nct 2022-02-23 09:52:12  2369709     42175
281  na.jaemin0813 2022-04-09 12:52:31  2338131     30830
257    yellow_3to3 2022-03-18 04:15:46  2321059     50980
7     onyourm__ark 2022-04-11 08:59:47  2317963     25555
282  na.jaemin0813 2022-04-03 08:15:40  2298001     29716
278  na.jaemin0813 2022-04-18 05:22:05  2297712     39382
337     taeoxo_nct 2022-02-13 03:49:45  2296860     33629
253    yellow_3to3 2022-03-28 06:48:25  2293252     46701
19    onyourm__ark 2022-02-12 06:16:34  2291254     27727
26    onyourm__ark 2022-01-16 07:58:00  2285965     44072
259    yellow_3to3 2022-01-15 13:03:45  2279576    104785
2     onyourm__ark 2022-05-06 07:45:28  2275322     29616
124     johnnyjsuh 2022-02-09 08:46:23  2273143     40535
24    onyourm__ark 2022-01-26 12:48:19  2264442     34474
23    onyourm__ark 2022-01-31 03:04:38  2253706     37305
195        do0_nct 2022-03-16 12:39:32  2250157     30890
194        do0_nct 2022-03-23 12:25:14  2239982     24483
192        do0_nct 2022-04-01 12:57:16  2234129     22539
339     taeoxo_nct 2022-01-25 01:11:36  2234048     36534
276  na.jaemin0813 2022-05-20 07:18:50  2229806     43508
205        do0_nct 2022-02-09 14:08:22  2207694     35591
311  haechanahceah 2022-03-23 11:30:28  2200731     94598
12    onyourm__ark 2022-03-25 09:30:09  2189899     22961
256    yellow_3to3 2022-03-26 04:59:29  2188309     47049
258    yellow_3to3 2022-03-14 11:19:35  2183001     60659
312  haechanahceah 2022-03-19 04:11:08  2182229    108752
197        do0_nct 2022-03-07 13:11:57  2176837     34528
108     johnnyjsuh 2022-05-05 05:03:10  2169149     20679
15    onyourm__ark 2022-03-16 04:08:45  2162991     32346
3     onyourm__ark 2022-05-04 13:11:07  2162367     30532
248    yellow_3to3 2022-05-14 16:44:26  2159761     47677
188        do0_nct 2022-04-13 13:49:23  2157213     21280
324     taeoxo_nct 2022-04-04 09:44:41  2156277     20624
110     johnnyjsuh 2022-05-03 15:45:12  2150711     29152
180        do0_nct 2022-05-05 11:46:12  2149977     28718
9     onyourm__ark 2022-04-03 11:33:10  2140415     28623
185        do0_nct 2022-04-22 13:45:50  2138225     23107
22    onyourm__ark 2022-02-03 15:13:42  2137402     32560
310  haechanahceah 2022-03-28 06:48:27  2136654     63295
217        do0_nct 2022-01-01 09:30:49  2118128     20697
325     taeoxo_nct 2022-03-28 00:00:56  2115584     36715
8     onyourm__ark 2022-04-06 01:25:44  2113300     21006
21    onyourm__ark 2022-02-06 07:02:17  2104722     29819
215        do0_nct 2022-01-09 12:09:51  2101485     20261
11    onyourm__ark 2022-03-25 09:30:41  2098718     31118
181        do0_nct 2022-04-28 14:19:58  2094578     18122
190        do0_nct 2022-04-10 13:25:17  2093590     17929
16    onyourm__ark 2022-03-11 10:26:35  2093108     53637
189        do0_nct 2022-04-12 14:45:14  2076065     24065
214        do0_nct 2022-01-11 08:04:32  2060951     19761
126     johnnyjsuh 2022-01-17 06:02:41  2055791     50830
285  na.jaemin0813 2022-03-24 07:50:26  2052205     25356
252    yellow_3to3 2022-03-31 10:35:59  2042448     30812
5     onyourm__ark 2022-04-18 07:51:06  2037518     23994
216        do0_nct 2022-01-04 13:27:13  2018847     21283
307  haechanahceah 2022-05-07 14:14:25  2017568     69715
218        do0_nct 2021-12-31 13:44:19  2008422     23844
317     taeoxo_nct 2022-05-05 08:56:39  2006071     22118
191        do0_nct 2022-04-06 14:01:14  1997068     21639
125     johnnyjsuh 2022-01-23 14:14:51  1990079     28722
316     taeoxo_nct 2022-05-05 14:19:52  1987923     25828
6     onyourm__ark 2022-04-17 10:54:38  1985435     24703
123     johnnyjsuh 2022-02-15 08:36:04  1983028     19111
208        do0_nct 2022-02-01 05:31:31  1976500     26102
213        do0_nct 2022-01-16 13:55:12  1973890     20752
255    yellow_3to3 2022-03-27 09:15:17  1972935     26013
336     taeoxo_nct 2022-02-14 13:07:02  1969923     22337
341     taeoxo_nct 2022-01-19 14:36:41  1965034     25158
60     tenlee_1001 2022-01-16 15:13:43  1954553     22233
280  na.jaemin0813 2022-04-09 12:52:47  1947185     22973
333     taeoxo_nct 2022-03-07 09:57:13  1940153     24731
309  haechanahceah 2022-04-01 04:08:15  1933550     28028
254    yellow_3to3 2022-03-28 04:52:11  1930269     21492
211        do0_nct 2022-01-29 12:35:23  1916633     17600
198        do0_nct 2022-03-04 13:20:06  1900099     16152
330     taeoxo_nct 2022-03-16 03:18:06  1893916     14628
42     tenlee_1001 2022-04-03 10:37:27  1893438     20620
178        do0_nct 2022-05-11 14:05:28  1891893     23784
260    yellow_3to3 2022-01-13 13:16:31  1890448     43130
332     taeoxo_nct 2022-03-09 22:37:39  1884829     15367
81        wwiinn_7 2022-01-20 11:55:22  1862726     21538
177        do0_nct 2022-05-13 14:47:03  1840985     17017
295   yuu_taa_1026 2022-03-28 05:34:40  1819436     18210
196        do0_nct 2022-03-12 13:49:09  1819357     21990
54     tenlee_1001 2022-03-01 07:03:26  1814167     21127
62     tenlee_1001 2021-12-31 15:48:11  1807829     26892
335     taeoxo_nct 2022-02-23 02:11:39  1803207     14696
308  haechanahceah 2022-04-17 10:31:57  1797706     53335
86        wwiinn_7 2022-01-07 08:55:48  1795756     19968
323     taeoxo_nct 2022-04-09 12:38:38  1795288     10819
111     johnnyjsuh 2022-05-02 00:23:46  1784278     11407
55     tenlee_1001 2022-02-16 14:50:06  1780578     35523
326     taeoxo_nct 2022-03-24 09:38:48  1776242     11289
338     taeoxo_nct 2022-01-25 10:12:17  1775136     17647
247    yellow_3to3 2022-05-20 07:20:46  1774194     19910
210        do0_nct 2022-01-30 11:19:52  1772326     15850
320     taeoxo_nct 2022-04-14 09:31:48  1762496     17042
31   sugaringcandy 2022-04-01 05:19:06  1761047    108798
329     taeoxo_nct 2022-03-16 06:26:52  1756987     12059
84        wwiinn_7 2022-01-12 09:33:52  1753349     15812
109     johnnyjsuh 2022-05-04 15:06:45  1744242     13928
33     tenlee_1001 2022-05-05 07:48:56  1743406     22275
176        do0_nct 2022-05-16 13:38:28  1741133     14636
116     johnnyjsuh 2022-04-29 21:53:56  1739166     16722
342     taeoxo_nct 2022-01-17 08:18:10  1728566     21856
121     johnnyjsuh 2022-03-15 09:01:24  1719528     16688
328     taeoxo_nct 2022-03-21 08:06:01  1717885     10955
209        do0_nct 2022-01-31 12:39:39  1716543     33643
301   yuu_taa_1026 2022-02-26 03:06:16  1708642     15560
251    yellow_3to3 2022-04-02 15:18:52  1705026     19707
95     i_m_hendery 2022-04-12 06:30:07  1704689     19912
107     johnnyjsuh 2022-05-09 04:06:22  1703541     10358
52     tenlee_1001 2022-03-05 12:54:20  1699654     18564
236     _shotaroo_ 2022-01-21 12:34:27  1697001     19555
202        do0_nct 2022-02-23 09:43:59  1695364     18030
283  na.jaemin0813 2022-04-03 08:15:15  1692676      9247
322     taeoxo_nct 2022-04-10 10:22:04  1690677     11095
203        do0_nct 2022-02-17 16:44:25  1687203     23309
318     taeoxo_nct 2022-04-30 09:16:07  1685918     11066
119     johnnyjsuh 2022-04-04 09:39:40  1671285     19784
306  haechanahceah 2022-05-14 06:18:56  1665507     33056
327     taeoxo_nct 2022-03-23 13:22:09  1664388     10230
340     taeoxo_nct 2022-01-23 04:35:12  1663691     16641
182        do0_nct 2022-04-24 13:46:21  1663125      8941
75        wwiinn_7 2022-02-14 11:35:28  1660249     27880
91     i_m_hendery 2022-05-05 08:07:38  1646179     30058
334     taeoxo_nct 2022-02-25 03:18:05  1645280     19041
40     tenlee_1001 2022-04-16 09:46:11  1632260     20297
115     johnnyjsuh 2022-04-30 23:16:22  1630313     17709
87        wwiinn_7 2022-01-06 06:13:49  1627815     18515
96     i_m_hendery 2022-03-08 08:55:05  1622025     29829
118     johnnyjsuh 2022-04-05 07:40:44  1619705     16994
128     johnnyjsuh 2021-12-31 15:49:22  1611255     29704
114     johnnyjsuh 2022-05-01 04:25:55  1600990     13756
245      mo.on_air 2022-01-23 15:54:06  1596773     29686
212        do0_nct 2022-01-28 13:10:39  1592610     15324
122     johnnyjsuh 2022-03-10 15:58:42  1590335     15639
228     _shotaroo_ 2022-03-25 12:36:36  1586720      9195
291   yuu_taa_1026 2022-05-09 03:18:49  1586188     14020
234     _shotaroo_ 2022-02-05 12:48:25  1584596     14552
71        wwiinn_7 2022-04-08 06:58:59  1578412     15260
154     djxiao_888 2022-02-06 05:20:16  1574484     14811
74        wwiinn_7 2022-03-03 10:12:50  1572003     12973
120     johnnyjsuh 2022-03-24 11:34:52  1557231     18324
14    onyourm__ark 2022-03-19 08:05:13  1557048     25507
314     taeoxo_nct 2022-05-15 06:47:50  1550191     11650
200        do0_nct 2022-03-02 04:53:07  1545770     10104
17    onyourm__ark 2022-03-10 09:49:02  1541682     19914
244      mo.on_air 2022-01-29 02:38:21  1536377     20797
112     johnnyjsuh 2022-05-01 21:24:12  1529259     11476
343     taeoxo_nct 2022-01-09 02:22:26  1528957     13569
296   yuu_taa_1026 2022-03-26 14:04:08  1520531     10918
304   yuu_taa_1026 2022-02-25 04:33:06  1519660     11128
297   yuu_taa_1026 2022-03-24 06:21:30  1515681     14924
72        wwiinn_7 2022-03-06 13:50:18  1506703     13335
149     djxiao_888 2022-04-03 08:53:25  1502697     15771
243      mo.on_air 2022-02-23 23:41:08  1501496     39594
145     djxiao_888 2022-04-28 09:43:37  1500891     20511
30   sugaringcandy 2022-04-02 08:15:32  1499917     41349
302   yuu_taa_1026 2022-02-26 03:05:06  1499121     13426
79        wwiinn_7 2022-01-26 05:07:27  1498293     13703
80        wwiinn_7 2022-01-25 06:44:14  1496588     14720
105    i_m_hendery 2022-01-06 13:19:30  1491363     30570
65        wwiinn_7 2022-05-16 11:49:29  1488600     17302
76        wwiinn_7 2022-01-31 13:16:59  1480087     12565
53     tenlee_1001 2022-03-02 13:04:23  1472990     13340
224     _shotaroo_ 2022-04-17 09:52:00  1466667      6700
292   yuu_taa_1026 2022-04-21 01:29:02  1465000     41593
187        do0_nct 2022-04-15 05:41:04  1461032     13501
344     taeoxo_nct 2022-01-02 05:54:00  1454388     28206
10    onyourm__ark 2022-03-30 09:22:40  1452548     17199
78        wwiinn_7 2022-01-28 12:04:51  1450413     12929
331     taeoxo_nct 2022-03-15 09:00:17  1446224     15574
0     onyourm__ark 2022-05-16 08:12:49  1444516     22979
148     djxiao_888 2022-04-06 06:29:06  1443175      8439
242      mo.on_air 2022-03-14 06:44:48  1442628     23110
127     johnnyjsuh 2022-01-15 12:31:05  1442024     16998
38     tenlee_1001 2022-04-22 08:24:32  1441476     16410
319     taeoxo_nct 2022-04-27 12:35:39  1438306     11458
321     taeoxo_nct 2022-04-12 11:41:55  1435202     11647
179        do0_nct 2022-05-07 09:03:24  1432466     20004
94     i_m_hendery 2022-04-13 10:34:46  1426267     59825
68        wwiinn_7 2022-04-25 09:27:23  1424815      8788
184        do0_nct 2022-04-24 02:06:44  1419726      7957
4     onyourm__ark 2022-04-21 13:18:29  1415125     25120
85        wwiinn_7 2022-01-07 08:56:04  1406447     10968
51     tenlee_1001 2022-03-06 05:37:19  1403781     14119
27   sugaringcandy 2022-05-12 15:08:28  1401675     25807
56     tenlee_1001 2022-01-29 13:00:18  1400768     20375
64        wwiinn_7 2022-05-18 17:01:55  1391265     13699
262        kun11xd 2022-04-27 10:12:17  1390779     15903
274        kun11xd 2022-01-11 09:46:07  1385713     24621
83        wwiinn_7 2022-01-12 09:35:17  1381003      9074
168    yangyang_x2 2022-02-09 07:53:59  1380948     10613
70        wwiinn_7 2022-04-11 10:45:57  1380826     10981
49     tenlee_1001 2022-03-12 15:22:22  1379809     14776
249    yellow_3to3 2022-04-02 15:20:08  1377805     15342
82        wwiinn_7 2022-01-18 03:03:28  1375877      9631
77        wwiinn_7 2022-01-30 10:00:02  1375482     12217
186        do0_nct 2022-04-17 14:14:46  1374654     18053
232     _shotaroo_ 2022-03-07 12:25:01  1374194      6805
1     onyourm__ark 2022-05-13 10:50:57  1368323     16475
155     djxiao_888 2022-01-25 05:11:51  1363525      5116
102    i_m_hendery 2022-01-17 13:55:07  1361995     20217
50     tenlee_1001 2022-03-11 12:32:10  1359226     15608
315     taeoxo_nct 2022-05-12 09:21:15  1351086     13919
144     djxiao_888 2022-05-13 12:57:16  1339701     11473
151     djxiao_888 2022-02-28 05:49:56  1338064     12798
29   sugaringcandy 2022-04-11 07:58:17  1334018     12603
28   sugaringcandy 2022-05-07 08:05:35  1325807     18251
246      mo.on_air 2022-01-17 15:53:48  1325486     19530
48     tenlee_1001 2022-03-26 18:11:43  1313105      6605
99     i_m_hendery 2022-01-24 10:02:19  1303369     13967
58     tenlee_1001 2022-01-20 13:45:44  1297897     15565
89     i_m_hendery 2022-05-18 07:29:18  1288658     33589
160    yangyang_x2 2022-05-05 07:56:36  1288112     17054
45     tenlee_1001 2022-03-30 15:48:16  1285929     12294
219     _shotaroo_ 2022-05-18 10:02:03  1285014      7723
294   yuu_taa_1026 2022-03-28 16:31:25  1268805      7101
207        do0_nct 2022-02-02 05:01:27  1268610     32007
57     tenlee_1001 2022-01-21 13:21:49  1268028     10536
222     _shotaroo_ 2022-04-29 04:57:30  1260262      7195
44     tenlee_1001 2022-04-02 08:33:01  1259233     11352
104    i_m_hendery 2022-01-07 05:31:32  1254389     17612
100    i_m_hendery 2022-01-19 13:16:03  1252939     12841
67        wwiinn_7 2022-05-01 18:04:26  1243204      7071
173    yangyang_x2 2022-01-14 02:39:12  1241877     13221
59     tenlee_1001 2022-01-16 19:12:01  1237271     11163
235     _shotaroo_ 2022-01-25 14:10:50  1236909      9758
106     johnnyjsuh 2022-05-15 03:41:06  1228791      7997
97     i_m_hendery 2022-02-18 03:27:50  1225340     15833
88     i_m_hendery 2022-05-20 13:16:29  1224824     32215
221     _shotaroo_ 2022-05-02 07:57:55  1220446      5592
98     i_m_hendery 2022-01-25 04:43:00  1216905      5640
103    i_m_hendery 2022-01-10 09:51:18  1215112     13322
241      mo.on_air 2022-04-10 13:49:21  1209592      8371
290   yuu_taa_1026 2022-05-14 14:23:47  1207893     10650
239      mo.on_air 2022-04-29 06:30:25  1207469     12262
250    yellow_3to3 2022-04-02 15:19:29  1200223      9452
167    yangyang_x2 2022-02-14 08:52:41  1193174     11969
93     i_m_hendery 2022-04-21 09:51:57  1192957     13469
300   yuu_taa_1026 2022-02-26 03:07:09  1192164      6059
183        do0_nct 2022-04-24 02:16:29  1191909      4902
273        kun11xd 2022-01-16 17:28:27  1190388     11315
161    yangyang_x2 2022-04-20 02:40:58  1190005      9308
73        wwiinn_7 2022-03-03 10:13:46  1187293      9032
152     djxiao_888 2022-02-14 09:11:06  1187113     22962
204        do0_nct 2022-02-17 10:25:45  1180520     14332
61     tenlee_1001 2022-01-07 09:59:41  1176785     12695
63        wwiinn_7 2022-05-18 17:07:45  1171346     10410
267        kun11xd 2022-02-21 13:14:02  1162219     12490
92     i_m_hendery 2022-04-28 09:45:52  1158933     14699
227     _shotaroo_ 2022-03-28 06:53:08  1156821      3397
163    yangyang_x2 2022-03-15 06:44:52  1153544      8181
153     djxiao_888 2022-02-13 07:53:43  1151226      9503
233     _shotaroo_ 2022-02-20 11:44:48  1135210     12691
226     _shotaroo_ 2022-03-28 06:54:51  1135073      3864
303   yuu_taa_1026 2022-02-26 03:04:01  1133780      7918
238      mo.on_air 2022-05-14 23:22:34  1121184     15071
164    yangyang_x2 2022-03-07 14:29:20  1118448      8151
69        wwiinn_7 2022-04-21 08:13:24  1111908      5301
165    yangyang_x2 2022-02-22 08:05:52  1105928      8830
46     tenlee_1001 2022-03-29 08:10:48  1104490     10976
90     i_m_hendery 2022-05-13 10:09:43  1102963     15618
166    yangyang_x2 2022-02-21 12:47:25  1096092      9189
240      mo.on_air 2022-04-29 06:20:49  1094463     12840
266        kun11xd 2022-03-05 10:13:17  1094389      9161
113     johnnyjsuh 2022-05-01 14:02:42  1090448     15685
129  _jeongjaehyun 2022-05-20 13:17:01  1082063     23669
223     _shotaroo_ 2022-04-21 11:10:50  1080408      7373
162    yangyang_x2 2022-04-11 13:15:36  1062995      8876
169    yangyang_x2 2022-02-02 04:18:24  1061245      8858
265        kun11xd 2022-03-14 13:03:11  1038885      7193
171    yangyang_x2 2022-01-18 13:10:55  1036904      7255
225     _shotaroo_ 2022-04-09 11:52:16  1031916      3302
299   yuu_taa_1026 2022-02-26 03:08:01  1016805      5889
159    yangyang_x2 2022-05-14 01:03:09  1013937      9392
275        kun11xd 2022-01-01 04:46:21  1004940     21341
101    i_m_hendery 2022-01-18 09:56:03  1004909      6521
66        wwiinn_7 2022-05-09 04:04:37  1000468      4180
270        kun11xd 2022-02-14 13:20:53   996009     10651
174    yangyang_x2 2022-01-01 06:37:18   995657      7255
230     _shotaroo_ 2022-03-23 06:54:37   983032      3608
37     tenlee_1001 2022-04-23 13:37:04   970580      8546
172    yangyang_x2 2022-01-15 04:19:11   959439      4868
268        kun11xd 2022-02-19 12:39:50   953606      5585
261        kun11xd 2022-05-18 04:31:08   948397     10302
220     _shotaroo_ 2022-05-09 04:48:58   917249      3722
229     _shotaroo_ 2022-03-23 06:57:11   912436      3643
298   yuu_taa_1026 2022-02-26 03:08:43   911458      6636
237     _shotaroo_ 2021-12-31 13:04:41   908943      4999
272        kun11xd 2022-01-18 06:02:49   904731      1867
263        kun11xd 2022-04-11 12:37:38   901497      5192
147     djxiao_888 2022-04-10 08:35:44   900067      5610
157    yangyang_x2 2022-05-16 09:36:08   897234      6029
34     tenlee_1001 2022-05-01 14:50:19   893573     16680
175    yangyang_x2 2021-12-31 13:29:22   883230      8416
170    yangyang_x2 2022-01-25 05:01:02   869422      6787
231     _shotaroo_ 2022-03-20 11:11:07   866973      6339
43     tenlee_1001 2022-04-02 08:43:45   861689      7971
264        kun11xd 2022-03-19 10:08:08   858300      5286
41     tenlee_1001 2022-04-14 14:26:51   848562      5333
199        do0_nct 2022-03-02 07:04:04   811054      3314
35     tenlee_1001 2022-04-24 09:22:06   773247     10457
158    yangyang_x2 2022-05-15 05:04:22   771347      3771
293   yuu_taa_1026 2022-04-07 13:16:48   755008      4120
156    yangyang_x2 2022-05-19 06:59:41   752298      4308
269        kun11xd 2022-02-15 07:00:49   749690     15917
146     djxiao_888 2022-04-24 09:02:06   693524      4896
39     tenlee_1001 2022-04-20 09:17:19   655934      5219
271        kun11xd 2022-01-26 12:32:39   615118      9261